.cat{
  border:1px solid red;
  margin:50px;
  width:100px;
  height:100px;
  position: relative;
}
#right-ear{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #ff9900;
  rotate: 34deg;
  position: absolute;
  right:8px;
  top:0;

}
#left-ear{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #bbb;
  rotate: -34deg;
  position: absolute;
  left:-17px;
  top:0;
}
#left-edge-ear{
  width:7px;
  height:40px;
  position:absolute;
  background-image: linear-gradient(to left, 	#484848 , #bbb);
  border-radius:25px;
  rotate:-5deg;
  left:-2px;
  top:4px;
}
#right-edge-ear{
  width:7px;
  height:40px;
  position:absolute;
  background-image: linear-gradient(to left, 	#484848 , #bbb);
  border-radius:25px;
  rotate:-61deg;
  left:12px;
  top:-5px;
}
.right-eye {
  width: 18%;
  height: 22%;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top:32px;
  right:40px;
  border: .5px solid black;
}
.right-iris{
  width: 65%;
  height: 50%;
  top:11px;
  right:3px;
  position:absolute;
  background: black;
  border-radius: 50%;
}
.patch{
  height: 10%;
  width: 10%;
  position:absolute;
  background-color: #555;
}
.patch-top{
  top:13px;
  left:18px;
}
.patch-bottom{
  top:57px;
  left:18px;
}
.patch-right{
  top:35px;
  right:55px;
}
.patch-left{
  top:37px;
  left:-2px;
}
.strap{
  height: 12%;
  width: 5%;
  position:absolute;
  background-color: #555;
}
.strap-right{
    rotate: 90deg;
    top:34px;
    left:30px;
}
.strap-left{
    rotate: 90deg;
    top:36px;
    left:10px;
}
.strap-top{
    top:20px;
    left:20.5px;
}
.strap-bottom{
    top:45px;
    left:21px;
}
.cyborg-eye{
  width:15%;
  height:15%;
  border-radius:50% ;
  position:absolute;
  background-color: #bbb;
  top:30px;
  left:12px;
  border: 3px solid #555;
}
.nose {
  width: 12%;
  height: 9%;
  background-color: #48abe0;
  border-radius: 10rem 10rem 0 0;
  rotate:180deg;
  background: black;
  position:absolute;
  top:57px;
  left:32px;
}
.cat-mouth{
    width: 80%;
    height: 36%;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 2px solid black;
    border-bottom: 0;
    rotate: 180deg;
    position: absolute;
    top: 32px;
    left:-4px

}
.cat-mouth-two{
    width: 80%;
    height: 36%;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 2px solid black;
    border-bottom: 0;
    rotate: 180deg;
    position: absolute;
    top: 32px;
    left:-20px

}
#left-eye{
  background: #bbb;
  position: absolute;
  width: 75%;
  height: 75%;
clip-path: polygon(55% 0, 61% 1%, 61% 9%, 61% 50%,59% 57%,57% 60%, 1% 60%);
  top:15px;
}
#left-eye-bckgrd{
   background: #bbb;
  position: absolute;
  width: 75%;
  height: 75%;
  clip-path: polygon(100% 160%, 44% 48%, 100% 7%);
  transform: rotate(210deg);
  border-radius:50%;
  top:15px
}


#cat-head{
  height: 75%;
  width: 75%;
  background-color: #ff9900;
  border-radius: 50%;
  position: absolute;
  top:15px;
}
