nav{
    background-color:var(--dark-blue);
    min-height:75px;
}
a.navbar-brand{
    color:var(--white);
     font-family:var(--outfit), Arial, Helvetica, sans-serif;;
     font-weight:600;
     font-size:1.7em;
}
a.navbar-brand:hover{
    color:var(--gold);
}
a.nav-link{
    color:var(--white);
    font-family:var(--outfit), Arial, Helvetica, sans-serif;;
    font-weight:500;
    font-size:1.1em;
}
a.nav-link:hover{
    color:var(--gold);
}
